<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css color Print media</title>
    <!-- media=print will apply css effect in printing stage only -->
    <!-- <link rel="stylesheet" href="printmedia.css" media="print"> -->
    <link rel="stylesheet" href="print_med.css" media="print">
</head>

<body>
    <h1>Yahoo baba: css Print</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, blanditiis. Quibusdam error magni, distinctio
        cupiditate mollitia vero aliquam odio consequatur! Iure alias sequi rem voluptas tenetur ea animi non eos nobis
        veritatis, consequatur, id laboriosam itaque deserunt tempore enim! Expedita facilis odio deleniti non quae,
        possimus totam exercitationem iusto cupiditate error corrupti assumenda molestias eos corporis. Illum vel nisi
        consequatur illo odit mollitia rerum repellendus culpa explicabo. Error maxime ex voluptas, doloribus
        consequatur, magnam, eveniet voluptatum rem ut eligendi aspernatur.
    </p>
    <h2>Just Testing</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum dolores minima laudantium ut ex eligendi
        explicabo. Nesciunt aspernatur beatae iste aliquid voluptatibus nisi cupiditate obcaecati voluptate dolorum
        quisquam asperiores optio cum, sequi inventore ad voluptas nulla temporibus nobis natus illo, expedita officiis
        facilis rem. Odit quos rem id cum adipisci qui facere eveniet placeat, mollitia veritatis quae neque eaque quam
        possimus fuga voluptate. Dignissimos voluptatem sint, eius praesentium ipsam ex alias sit beatae porro.
        Consequuntur fugiat ab fuga, sapiente aut quis tempore architecto et tenetur rem unde nesciunt! Cumque.
    </p>
    <h3>check for break</h3>
</body>

</html>